openapi: 3.0.3
info:
  title: ERP Backend API
  description: Production-ready ERP system with clean architecture
  version: 1.0.0
  contact:
    name: ERP Team
    email: api@erp-system.com
  license:
    name: MIT
    url: https://opensource.org/licenses/MIT

servers:
  - url: https://api.erp-system.com/v1
    description: Production server
  - url: https://staging-api.erp-system.com/v1
    description: Staging server
  - url: http://localhost:3000/api/v1
    description: Development server

security:
  - BearerAuth: []

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: JWT access token for authentication

  schemas:
    # Standard Response Schemas
    SuccessResponse:
      type: object
      required:
        - success
        - data
        - message
        - meta
      properties:
        success:
          type: boolean
          example: true
        data:
          type: object
          description: Response payload
        message:
          type: string
          example: "Operation completed successfully"
        meta:
          $ref: '#/components/schemas/ResponseMeta'

    ErrorResponse:
      type: object
      required:
        - success
        - error
        - meta
      properties:
        success:
          type: boolean
          example: false
        error:
          $ref: '#/components/schemas/ErrorDetails'
        meta:
          $ref: '#/components/schemas/ResponseMeta'
    ResponseMeta:
      type: object
      required:
        - timestamp
        - version
      properties:
        timestamp:
          type: string
          format: date-time
          example: "2024-01-01T12:00:00Z"
        version:
          type: string
          example: "v1"
        requestId:
          type: string
          example: "req_123456789"
        pagination:
          $ref: '#/components/schemas/PaginationMeta'

    PaginationMeta:
      type: object
      required:
        - page
        - limit
        - total
        - totalPages
      properties:
        page:
          type: integer
          minimum: 1
          example: 1
        limit:
          type: integer
          minimum: 1
          maximum: 100
          example: 10
        total:
          type: integer
          minimum: 0
          example: 100
        totalPages:
          type: integer
          minimum: 0
          example: 10

    ErrorDetails:
      type: object
      required:
        - code
        - message
      properties:
        code:
          type: string
          example: "VALIDATION_ERROR"
        message:
          type: string
          example: "Invalid input data"
        details:
          type: object
          additionalProperties:
            type: array
            items:
              type: string
          example:
            email: ["Email is required"]
            password: ["Password must be at least 8 characters"]
    # Entity Schemas
    User:
      type: object
      required:
        - id
        - firstName
        - lastName
        - email
        - roles
        - organizationId
        - isActive
        - isEmailVerified
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174000"
        firstName:
          type: string
          minLength: 1
          maxLength: 100
          example: "John"
        lastName:
          type: string
          minLength: 1
          maxLength: 100
          example: "Doe"
        fullName:
          type: string
          readOnly: true
          example: "John Doe"
        email:
          type: string
          format: email
          example: "john.doe@pizzapalace.com"
        phone:
          type: string
          minLength: 1
          maxLength: 20
          nullable: true
          example: "+1-555-0123"
        roles:
          type: array
          items:
            type: string
            enum: [admin, manager, employee, cashier, inventory_clerk]
          example: ["manager", "cashier"]
        permissions:
          type: object
          additionalProperties:
            type: boolean
          example:
            "products:read": true
            "orders:create": true
        organizationId:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174000"
        organization:
          $ref: '#/components/schemas/OrganizationSummary'
        isActive:
          type: boolean
          example: true
        isEmailVerified:
          type: boolean
          example: true
        lastLoginAt:
          type: string
          format: date-time
          nullable: true
          example: "2024-01-01T12:00:00Z"
        passwordChangedAt:
          type: string
          format: date-time
          nullable: true
          example: "2024-01-01T00:00:00Z"
        avatarUrl:
          type: string
          format: uri
          nullable: true
          example: "https://cdn.example.com/avatar.jpg"
        preferences:
          type: object
          additionalProperties: true
          example:
            theme: "dark"
            language: "en"
        createdAt:
          type: string
          format: date-time
          example: "2024-01-01T00:00:00Z"
        updatedAt:
          type: string
          format: date-time
          example: "2024-01-01T12:00:00Z"
    Organization:
      type: object
      required:
        - id
        - name
        - slug
        - subscriptionPlan
        - subscriptionStatus
        - isActive
        - createdAt
        - updatedAt
      properties:
        id:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174000"
        name:
          type: string
          minLength: 2
          maxLength: 255
          example: "Pizza Palace Downtown"
        slug:
          type: string
          minLength: 2
          maxLength: 100
          pattern: '^[a-z0-9-]+$'
          example: "pizza-palace-downtown"
        email:
          type: string
          format: email
          nullable: true
          example: "contact@pizzapalace.com"
        phone:
          type: string
          minLength: 1
          maxLength: 20
          nullable: true
          example: "+1-555-0123"
        address:
          type: string
          minLength: 1
          maxLength: 500
          nullable: true
          example: "123 Main St, Downtown, NY 10001"
        taxNumber:
          type: string
          minLength: 1
          maxLength: 50
          nullable: true
          example: "TAX123456789"
        subscriptionPlan:
          type: string
          enum: [basic, premium, enterprise]
          example: "basic"
        subscriptionStatus:
          type: string
          enum: [active, suspended, cancelled]
          example: "active"
        settings:
          type: object
          additionalProperties: true
          example:
            currency: "USD"
            timezone: "America/New_York"
        logoUrl:
          type: string
          format: uri
          nullable: true
          example: "https://cdn.example.com/logo.png"
        website:
          type: string
          format: uri
          nullable: true
          example: "https://pizzapalace.com"
        isActive:
          type: boolean
          example: true
        createdAt:
          type: string
          format: date-time
          example: "2024-01-01T00:00:00Z"
        updatedAt:
          type: string
          format: date-time
          example: "2024-01-01T12:00:00Z"

    OrganizationSummary:
      type: object
      required:
        - id
        - name
        - slug
      properties:
        id:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174000"
        name:
          type: string
          example: "Pizza Palace Downtown"
        slug:
          type: string
          example: "pizza-palace-downtown"
    # Request/Response DTOs
    LoginRequest:
      type: object
      required:
        - email
        - password
        - organizationId
      properties:
        email:
          type: string
          format: email
          example: "user@example.com"
        password:
          type: string
          minLength: 1
          maxLength: 255
          example: "SecurePass123!"
        organizationId:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174000"

    AuthResponse:
      type: object
      required:
        - accessToken
        - refreshToken
        - tokenType
        - expiresIn
        - user
      properties:
        accessToken:
          type: string
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        refreshToken:
          type: string
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        tokenType:
          type: string
          example: "Bearer"
        expiresIn:
          type: integer
          example: 86400
        user:
          $ref: '#/components/schemas/User'

    RefreshTokenRequest:
      type: object
      required:
        - refreshToken
      properties:
        refreshToken:
          type: string
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."

    CreateUserRequest:
      type: object
      required:
        - firstName
        - lastName
        - email
        - password
        - organizationId
      properties:
        firstName:
          type: string
          minLength: 1
          maxLength: 100
          example: "John"
        lastName:
          type: string
          minLength: 1
          maxLength: 100
          example: "Doe"
        email:
          type: string
          format: email
          example: "john.doe@pizzapalace.com"
        phone:
          type: string
          minLength: 1
          maxLength: 20
          example: "+1-555-0123"
        password:
          type: string
          minLength: 8
          maxLength: 255
          pattern: '^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]'
          example: "SecurePass123!"
        organizationId:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174000"
        roles:
          type: array
          items:
            type: string
            enum: [admin, manager, employee, cashier, inventory_clerk]
          example: ["manager", "cashier"]
        avatarUrl:
          type: string
          format: uri
          example: "https://cdn.example.com/avatar.jpg"
        preferences:
          type: object
          additionalProperties: true
          example:
            theme: "dark"
            language: "en"
    UpdateUserRequest:
      type: object
      properties:
        firstName:
          type: string
          minLength: 1
          maxLength: 100
          example: "Jane"
        lastName:
          type: string
          minLength: 1
          maxLength: 100
          example: "Smith"
        email:
          type: string
          format: email
          example: "jane.smith@pizzapalace.com"
        phone:
          type: string
          minLength: 1
          maxLength: 20
          example: "+1-555-0124"
        roles:
          type: array
          items:
            type: string
            enum: [admin, manager, employee, cashier, inventory_clerk]
          example: ["employee"]
        avatarUrl:
          type: string
          format: uri
          example: "https://cdn.example.com/new-avatar.jpg"
        preferences:
          type: object
          additionalProperties: true
          example:
            theme: "light"
            language: "es"

    ChangePasswordRequest:
      type: object
      required:
        - currentPassword
        - newPassword
        - confirmPassword
      properties:
        currentPassword:
          type: string
          example: "CurrentPass123!"
        newPassword:
          type: string
          minLength: 8
          maxLength: 255
          pattern: '^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]'
          example: "NewSecurePass123!"
        confirmPassword:
          type: string
          example: "NewSecurePass123!"

    UpdateUserStatusRequest:
      type: object
      required:
        - isActive
      properties:
        isActive:
          type: boolean
          example: false

    UpdateUserRolesRequest:
      type: object
      required:
        - roles
      properties:
        roles:
          type: array
          items:
            type: string
            enum: [admin, manager, employee, cashier, inventory_clerk]
          example: ["manager", "inventory_clerk"]

    CreateOrganizationRequest:
      type: object
      required:
        - name
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 255
          example: "Pizza Palace Downtown"
        slug:
          type: string
          minLength: 2
          maxLength: 100
          pattern: '^[a-z0-9-]+$'
          example: "pizza-palace-downtown"
        email:
          type: string
          format: email
          example: "contact@pizzapalace.com"
        phone:
          type: string
          minLength: 1
          maxLength: 20
          example: "+1-555-0123"
        address:
          type: string
          minLength: 1
          maxLength: 500
          example: "123 Main St, Downtown, NY 10001"
        taxNumber:
          type: string
          minLength: 1
          maxLength: 50
          example: "TAX123456789"
        logoUrl:
          type: string
          format: uri
          example: "https://cdn.example.com/logo.png"
        website:
          type: string
          format: uri
          example: "https://pizzapalace.com"
    UpdateOrganizationRequest:
      type: object
      properties:
        name:
          type: string
          minLength: 2
          maxLength: 255
          example: "Pizza Palace Downtown"
        slug:
          type: string
          minLength: 2
          maxLength: 100
          pattern: '^[a-z0-9-]+$'
          example: "pizza-palace-downtown"
        email:
          type: string
          format: email
          example: "contact@pizzapalace.com"
        phone:
          type: string
          minLength: 1
          maxLength: 20
          example: "+1-555-0123"
        address:
          type: string
          minLength: 1
          maxLength: 500
          example: "123 Main St, Downtown, NY 10001"
        taxNumber:
          type: string
          minLength: 1
          maxLength: 50
          example: "TAX123456789"
        logoUrl:
          type: string
          format: uri
          example: "https://cdn.example.com/logo.png"
        website:
          type: string
          format: uri
          example: "https://pizzapalace.com"

    HealthCheck:
      type: object
      required:
        - status
        - checks
        - uptime
        - version
      properties:
        status:
          type: string
          enum: [ok, error]
          example: "ok"
        checks:
          type: object
          properties:
            database:
              type: object
              properties:
                status:
                  type: string
                  enum: [up, down]
                responseTime:
                  type: string
                  example: "12ms"
            memory:
              type: object
              properties:
                status:
                  type: string
                  enum: [up, down]
                usage:
                  type: string
                  example: "45%"
            disk:
              type: object
              properties:
                status:
                  type: string
                  enum: [up, down]
                usage:
                  type: string
                  example: "23%"
        uptime:
          type: integer
          example: 86400
        version:
          type: string
          example: "1.0.0"

    LivenessCheck:
      type: object
      required:
        - status
        - timestamp
        - uptime
      properties:
        status:
          type: string
          example: "ok"
        timestamp:
          type: string
          format: date-time
          example: "2024-01-01T12:00:00Z"
        uptime:
          type: integer
          example: 86400

    ReadinessCheck:
      type: object
      required:
        - status
        - database
      properties:
        status:
          type: string
          enum: [ready, not_ready]
          example: "ready"
        database:
          type: string
          enum: [connected, disconnected]
          example: "connected"
    SlugValidation:
      type: object
      required:
        - available
      properties:
        available:
          type: boolean
          example: true

    TokenValidation:
      type: object
      required:
        - valid
        - user
      properties:
        valid:
          type: boolean
          example: true
        user:
          type: object
          properties:
            id:
              type: string
              format: uuid
            email:
              type: string
              format: email
            organizationId:
              type: string
              format: uuid
            roles:
              type: array
              items:
                type: string

  parameters:
    PageParam:
      name: page
      in: query
      description: Page number
      required: false
      schema:
        type: integer
        minimum: 1
        default: 1

    LimitParam:
      name: limit
      in: query
      description: Items per page
      required: false
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 10

    SortByParam:
      name: sortBy
      in: query
      description: Sort field
      required: false
      schema:
        type: string
        default: "createdAt"

    SortOrderParam:
      name: sortOrder
      in: query
      description: Sort order
      required: false
      schema:
        type: string
        enum: [ASC, DESC]
        default: "DESC"

    UserIdParam:
      name: id
      in: path
      description: User UUID
      required: true
      schema:
        type: string
        format: uuid

    OrganizationIdParam:
      name: organizationId
      in: path
      description: Organization UUID
      required: true
      schema:
        type: string
        format: uuid

    SlugParam:
      name: slug
      in: path
      description: Organization slug
      required: true
      schema:
 uuid   format: tring
     pe: s       ty:
 hemase
      scred: falqui   ren
   validatioude from exclion: ID to  descriptery
      in: qu  eId
   excludme:  na
     Param: ExcludeId  ]

 entory_clerk, inv, cashierployee emanager,, mnum: [admin e    g
    strin       type::
       schemad: true
uiree
      reqrolr ption: Useescrih
      d     in: pat
 role    name: :
  ramolePa'

    R-]+$: '^[a-z0-9attern       p string
     type:   